## Tahmine Dayalı Değer Atama İşlemleri (KNN,Random Forest,EM)

In [78]:
import seaborn as sns
import missingno as msno
import numpy as np
import pandas as pd

In [79]:
df=sns.load_dataset("titanic")
df=df.select_dtypes(include=['int64','float64'])

In [80]:
print(df.head())

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [81]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [82]:
!pip install ycimpute

Requirement already satisfied: ycimpute in d:\anaconda\lib\site-packages (0.2)
Requirement already satisfied: scikit-learn>=0.17.1 in d:\anaconda\lib\site-packages (from ycimpute) (0.24.2)
Requirement already satisfied: numpy>=1.10 in d:\anaconda\lib\site-packages (from ycimpute) (1.20.3)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from ycimpute) (1.16.0)
Requirement already satisfied: scipy in d:\anaconda\lib\site-packages (from ycimpute) (1.7.1)
Requirement already satisfied: torch>=1.1.0 in d:\anaconda\lib\site-packages (from ycimpute) (1.10.2)
Requirement already satisfied: joblib>=0.11 in d:\anaconda\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (2.2.0)
Requirement already satisfied: typing-extensions in d:\anaconda\lib\site-packages (from torch>=1.1.0->ycimpute) (3.10.0.2)

In [83]:
from ycimpute.imputer import knnimput

In [84]:
var_names=list(df)

In [85]:
n_df=np.array(df)

In [86]:
n_df[0:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [87]:
n_df.shape

(891, 6)

In [88]:
dff=knnimput.KNN(k=4).complete(n_df)

Imputing row 1/891 with 0 missing, elapsed time: 0.090
Imputing row 101/891 with 0 missing, elapsed time: 0.091
Imputing row 201/891 with 0 missing, elapsed time: 0.092
Imputing row 301/891 with 1 missing, elapsed time: 0.092
Imputing row 401/891 with 0 missing, elapsed time: 0.093
Imputing row 501/891 with 0 missing, elapsed time: 0.094
Imputing row 601/891 with 0 missing, elapsed time: 0.095
Imputing row 701/891 with 0 missing, elapsed time: 0.095
Imputing row 801/891 with 0 missing, elapsed time: 0.096

In [89]:
type(dff)

numpy.ndarray

In [90]:
dff=pd.DataFrame(dff,columns=var_names)

### Random Forest

In [91]:
from ycimpute.imputer import iterforest
df=sns.load_dataset("titanic")
df=df.select_dtypes(include=['int64','float64'])

In [92]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [93]:
var_names=list(df)

In [94]:
n_df=np.array(df)

In [95]:
dff = pd.DataFrame(dff, columns = var_names)

In [96]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64