Eksik Değerlerin İncelenmesi

In [1]:
import seaborn as sns
import pandas as pd
planets=sns.load_dataset("planets")
planets
df=planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [6]:
# Hiç eksik gözlem var mı ? (Eğer yoksa eksik gözlem incelemesi yapılmadan devam edilebilir.)

df.isnull().values.any()

True

In [8]:
# Hangi değişkende kaçar tane var
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [11]:
# df["degisken_ismi"].fillna(0,inplace=True) değeri NaN olanların(yani boş olanların) yerine sıfır koyduk.
df["orbital_period"].fillna(0,inplace=True)

In [12]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [14]:
df["mass"].fillna(df.mass.mean(),inplace=True)

In [17]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [19]:
df.fillna(df.mean(),inplace=True)
df

C:\Users\Cranked\AppData\Local\Temp/ipykernel_5152/1351106731.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(),inplace=True)

               method  number  orbital_period       mass  distance  year
0     Radial Velocity       1      269.300000   7.100000     77.40  2006
1     Radial Velocity       1      874.774000   2.210000     56.95  2008
2     Radial Velocity       1      763.000000   2.600000     19.84  2011
3     Radial Velocity       1      326.030000  19.400000    110.62  2007
4     Radial Velocity       1      516.220000  10.500000    119.47  2009
...               ...     ...             ...        ...       ...   ...
1030          Transit       1        3.941507   2.638161    172.00  2006
1031          Transit       1        2.615864   2.638161    148.00  2007
1032          Transit       1        3.191524   2.638161    174.00  2007
1033          Transit       1        4.125083   2.638161    293.00  2008
1034          Transit       1        4.187757   2.638161    260.00  2008

[1035 rows x 6 columns]

In [20]:
df.isnull().sum()

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64