# Veri Bilimi İçin İstatistik

# Örnek Teorisi

In [17]:
import numpy as np
import seaborn as sns

In [5]:
populasyon=np.random.randint(0,80,10000)
populasyon

array([28, 19, 40, ..., 12, 21, 67])

In [6]:
populasyon[0:10]

array([28, 19, 40, 41, 51, 54, 40, 16, 22, 40])

**Örneklem Çekimi**

In [8]:
np.random.seed(115)
orneklem=np.random.choice(a=populasyon,size=100)
orneklem[0:10]

array([11, 24, 68, 52, 38, 47, 13, 10, 38, 35])

In [9]:
orneklem.mean()

38.21

In [10]:
populasyon.mean()

39.4118

# Örneklem Dağılımı

In [13]:
np.random.seed(10)
orneklem1=np.random.choice(a=populasyon,size=100)
orneklem2=np.random.choice(a=populasyon,size=100)
orneklem3=np.random.choice(a=populasyon,size=100)
orneklem4=np.random.choice(a=populasyon,size=100)
orneklem5=np.random.choice(a=populasyon,size=100)
orneklem6=np.random.choice(a=populasyon,size=100)
orneklem7=np.random.choice(a=populasyon,size=100)
orneklem8=np.random.choice(a=populasyon,size=100)
orneklem9=np.random.choice(a=populasyon,size=100)
orneklem10=np.random.choice(a=populasyon,size=100)

In [16]:
print(
     (
     orneklem1.mean()+
     orneklem2.mean()+
     orneklem3.mean()+
     orneklem4.mean()+
     orneklem5.mean()+
     orneklem6.mean()+
     orneklem7.mean()+
     orneklem8.mean()+
     orneklem9.mean()+
     orneklem10.mean()
     )/10
)

39.979

# Betimsel İstatistikler

In [20]:
tips=sns.load_dataset("tips")
df=tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [21]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [24]:
!pip install researchpy
import researchpy as rp

Requirement already satisfied: researchpy in d:\anaconda\lib\site-packages (0.3.2)
Requirement already satisfied: scipy in d:\anaconda\lib\site-packages (from researchpy) (1.7.1)
Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (from researchpy) (1.3.4)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from researchpy) (1.20.3)
Requirement already satisfied: patsy in d:\anaconda\lib\site-packages (from researchpy) (0.5.2)
Requirement already satisfied: statsmodels in d:\anaconda\lib\site-packages (from researchpy) (0.12.2)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\anaconda\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in d:\anaconda\lib\site-packages (from pandas->researchpy) (2021.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas->researchpy) (1.16.0)

In [25]:
rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [27]:
rp.summary_cat(df[["sex","smoker","day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [28]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [31]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000