# Gözlem ve Değişken Seçimi(loc &iloc )

In [1]:
import pandas as pd 
import numpy as np

In [2]:
m=np.random.randint(1,30,size=(10,3))

In [5]:
df=pd.DataFrame(m,columns=["var1","var2","var3"])
df

   var1  var2  var3
0     2     3    24
1     8    27    11
2    29     5     5
3    11     6     2
4    28    26    13
5    27    11     9
6    12    13    11
7    10    29     1
8    25     9    27
9    13    25    11

# Loc :  ** Tanimlandığı şekliyle seçim yapmak için kullanılır. **

In [6]:
df.loc[0:3]

   var1  var2  var3
0     2     3    24
1     8    27    11
2    29     5     5
3    11     6     2

# İloc: ** Alışık olduğumuz indeksleme mantığı ile seçim yapar.**

In [7]:
df.iloc[0:3]

   var1  var2  var3
0     2     3    24
1     8    27    11
2    29     5     5