# Sentiment Analizi ve Sınıflandırma Modelleri

In [1]:
!pip install keras

Requirement already satisfied: keras in d:\anaconda\lib\site-packages (2.8.0)

In [2]:
!pip install tensorflow

Requirement already satisfied: tensorflow in d:\anaconda\lib\site-packages (2.8.0)
Requirement already satisfied: google-pasta>=0.1.1 in d:\anaconda\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: numpy>=1.20 in d:\anaconda\lib\site-packages (from tensorflow) (1.20.3)
Requirement already satisfied: libclang>=9.0.1 in d:\anaconda\lib\site-packages (from tensorflow) (13.0.0)
Requirement already satisfied: typing-extensions>=3.6.6 in d:\anaconda\lib\site-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: gast>=0.2.1 in d:\anaconda\lib\site-packages (from tensorflow) (0.5.3)
Requirement already satisfied: termcolor>=1.1.0 in d:\anaconda\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: protobuf>=3.9.2 in d:\anaconda\lib\site-packages (from tensorflow) (3.20.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in d:\anaconda\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: flatbuffers>=1.12 in d:\anaconda\lib\site-packages (from tensorflow) (2.0)
Requirement already satisfied: h5py>=2.9.0 in d:\anaconda\lib\site-packages (from tensorflow) (3.2.1)
Requirement already satisfied: wrapt>=1.11.0 in d:\anaconda\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in d:\anaconda\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: opt-einsum>=2.3.2 in d:\anaconda\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: tensorboard<2.9,>=2.8 in d:\anaconda\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: astunparse>=1.6.0 in d:\anaconda\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in d:\anaconda\lib\site-packages (from tensorflow) (0.24.0)
Requirement already satisfied: tf-estimator-nightly==2.8.0.dev2021122109 in d:\anaconda\lib\site-packages (from tensorflow) (2.8.0.dev2021122109)
Requirement already satisfied: six>=1.12.0 in d:\anaconda\lib\site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: absl-py>=0.4.0 in d:\anaconda\lib\site-packages (from tensorflow) (1.0.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in d:\anaconda\lib\site-packages (from tensorflow) (1.44.0)
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from tensorflow) (58.0.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in d:\anaconda\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.37.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in d:\anaconda\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in d:\anaconda\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.6.2)
Requirement already satisfied: markdown>=2.6.8 in d:\anaconda\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.3.6)
Requirement already satisfied: werkzeug>=0.11.15 in d:\anaconda\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.0.2)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in d:\anaconda\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: requests<3,>=2.21.0 in d:\anaconda\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.26.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in d:\anaconda\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in d:\anaconda\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (5.0.0)
Requirement already satisfied: rsa<5,>=3.1.4 in d:\anaconda\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in d:\anaconda\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in d:\anaconda\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in d:\anaconda\lib\site-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.8.1)
Requirement already satisfied: zipp>=0.5 in d:\anaconda\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in d:\anaconda\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in d:\anaconda\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.26.7)
Requirement already satisfied: oauthlib>=3.0.0 in d:\anaconda\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)

In [4]:
from textblob import TextBlob
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

import pandas, xgboost, numpy, textblob, string
from keras.preprocessing import text, sequence
from keras import layers, models, optimizers


from warnings import filterwarnings
filterwarnings('ignore')

In [5]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t")

In [6]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [9]:
data["Sentiment"].replace([0,1], value = "negatif", inplace = True)

In [10]:
data["Sentiment"].replace([3,4], value = "pozitif", inplace = True)

In [11]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,negatif
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [12]:
data = data[(data.Sentiment == "negatif") | (data.Sentiment == "pozitif")]

In [13]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,negatif
21,22,1,good for the goose,pozitif
22,23,1,good,pozitif
33,34,1,"the gander , some of which occasionally amuses...",negatif
46,47,1,amuses,pozitif

In [14]:
data.groupby("Sentiment").count()

           PhraseId  SentenceId  Phrase
Sentiment
negatif       34345       34345   34345
pozitif       42133       42133   42133

In [15]:
df = pd.DataFrame()
df["text"] = data["Phrase"]
df["label"] = data["Sentiment"]

In [16]:
df.head()

                                                 text    label
0   A series of escapades demonstrating the adage ...  negatif
21                                 good for the goose  pozitif
22                                               good  pozitif
33  the gander , some of which occasionally amuses...  negatif
46                                             amuses  pozitif

## Metin Ön İşleme

In [17]:
#buyuk-kucuk donusumu
df['text'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#noktalama işaretleri
df['text'] = df['text'].str.replace('[^\w\s]','')
#sayılar
df['text'] = df['text'].str.replace('\d','')
#stopwords
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
#seyreklerin silinmesi
sil = pd.Series(' '.join(df['text']).split()).value_counts()[-1000:]
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))
#lemmi
from textblob import Word
#nltk.download('wordnet')
df['text'] = df['text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))